In [36]:
import pandas as pd
import numpy as np
import os

# Create outcome table

## Load original csv

In [37]:
outcome_file = "/home/tachennf/Documents/delta-rad/data/Madrid/clinical_data_clean.csv"
outcome_df = pd.read_csv(outcome_file, index_col=0, sep=";")
outcome_df.head()

,Date of diagnosis,Date of chemo start,date of last RT fraction,Date of local recurrence,Situation of LR,Date metastatic recurrence,localization,Date of death,Death cause,Date last news
MONT18,03/01/2023,27/02/2023,15/09/2023,NaN,3,05/10/2024,1.0,05/12/2024,6.0,05/12/2024
MONT20,01/03/2022,09/03/2022,25/10/2023,NaN,3,15/02/2024,2.0,NaN,NaN,03/10/2024
MONT16,23/12/2022,03/07/2023,08/11/2023,NaN,3,11/03/2023,2.0,NaN,NaN,01/01/2024
MONT21,01/04/2023,13/04/2023,21/02/2024,NaN,2,24/04/2024,2.0,21/05/2024,2.0,21/05/2024
MONT19,01/03/2023,01/04/2023,06/10/2023,NaN,3,NaN,NaN,NaN,NaN,11/12/2024

## Transform to date format

In [38]:
date_outcome_df = pd.DataFrame(index=outcome_df.index, columns=['date of last RT fraction', 'Date of local recurrence'])
date_outcome_df['date of last RT fraction'] = pd.to_datetime(outcome_df['date of last RT fraction'], format="%d/%m/%Y", errors='coerce')
date_outcome_df['Date of local recurrence'] = pd.to_datetime(outcome_df['Date of local recurrence'], format="%d/%m/%Y", errors='coerce')
date_outcome_df['Date last news'] = pd.to_datetime(outcome_df['Date last news'], format="%d/%m/%Y", errors='coerce')
date_outcome_df.head()

       date of last RT fraction Date of local recurrence Date last news
MONT18               2023-09-15                      NaT     2024-12-05
MONT20               2023-10-25                      NaT     2024-10-03
MONT16               2023-11-08                      NaT     2024-01-01
MONT21               2024-02-21                      NaT     2024-05-21
MONT19               2023-10-06                      NaT     2024-12-11

## Difference in date

In [39]:
date_outcome_df['difference end RT and local recurrence'] = (date_outcome_df['Date of local recurrence'] - date_outcome_df['date of last RT fraction']).dt.days
nine_months_in_days = 365

In [40]:
date_outcome_df['one_year_local_control_status'] = date_outcome_df['difference end RT and local recurrence'] <= nine_months_in_days
date_outcome_df

,date of last RT fraction,Date of local recurrence,Date last news,difference end RT and local recurrence,one_year_local_control_status
MONT18,2023-09-15,NaT,2024-12-05,NaN,False
MONT20,2023-10-25,NaT,2024-10-03,NaN,False
MONT16,2023-11-08,NaT,2024-01-01,NaN,False
MONT21,2024-02-21,NaT,2024-05-21,NaN,False
MONT19,2023-10-06,NaT,2024-12-11,NaN,False
MONT14,2023-07-28,NaT,2024-10-14,NaN,False
MONT39,2023-09-19,2023-12-15,2024-05-10,87.0,True
MONT38,2023-08-25,NaT,2024-12-30,NaN,False
MONT22,2023-10-16,NaT,2024-05-08,NaN,False
MONT23,2023-12-07,NaT,2024-10-24,NaN,False
MONT24,2023-11-13,NaT,2024-05-24,NaN,False
MONT25,2024-01-26,NaT,2024-10-07,NaN,False
MONT26,2024-03-13,2024-05-24,2024-05-30,72.0,True
MONT27,2024-01-19,NaT,2024-05-07,NaN,False
MONT28,2024-04-24,NaT,2024-11-13,NaN,False
MONT29,2024-04-02,NaT,2024-12-12,NaN,False
MONT30,2024-03-20,NaT,2024-11-20,NaN,False
MONT31,2024-04-30,2024-09-23,2024-09-23,146.0,True
MONT33,2024-04-19,NaT,2024-05-31,NaN,False
MONT34,2024-04-23,NaT,2024-12-11,NaN,False
MONT35,2024-05-14,NaT,2024-07-29,NaN,False
MONT36,2024-05-22,2024-12-28,2024-12-28,220.0,True
MONT37,2024-06-04,NaT,2024-12-16,NaN,False
MONT10,2024-07-19,NaT,2024-11-22,NaN,False
MONT32,2024-06-14,NaT,2024-12-10,NaN,False
MONT8,2024-07-05,NaT,2024-11-22,NaN,False
MONT6,2024-06-21,2024-11-05,2024-11-05,137.0,True
MONT2,2024-08-02,NaT,2024-12-12,NaN,False
MONT7,2024-06-28,NaT,2024-12-17,NaN,False
MONT9,2024-08-23,NaT,2024-12-16,NaN,False
MONT3,2024-08-27,NaT,2024-11-30,NaN,False
MONT5,2024-09-20,NaT,2025-01-13,NaN,False
MONT11,2024-07-29,NaT,2024-11-19,NaN,False
MONT1,2024-11-22,NaT,2024-12-09,NaN,False
MONT13,2024-08-23,NaT,2024-12-23,NaN,False
MONT4,2024-11-13,NaT,2025-01-07,NaN,False
MONT12,2024-11-13,NaT,2025-01-14,NaN,False

In [41]:
print(date_outcome_df['one_year_local_control_status'].value_counts())

one_year_local_control_status
False    32
True      5
Name: count, dtype: int64

In [42]:
one_year_status_df = pd.DataFrame(index=date_outcome_df.index, columns=['one_year_local_control_status'])
one_year_status_df['one_year_local_control_status'] = date_outcome_df['one_year_local_control_status'].astype(int)
one_year_status_df

        one_year_local_control_status
MONT18                              0
MONT20                              0
MONT16                              0
MONT21                              0
MONT19                              0
MONT14                              0
MONT39                              1
MONT38                              0
MONT22                              0
MONT23                              0
MONT24                              0
MONT25                              0
MONT26                              1
MONT27                              0
MONT28                              0
MONT29                              0
MONT30                              0
MONT31                              1
MONT33                              0
MONT34                              0
MONT35                              0
MONT36                              1
MONT37                              0
MONT10                              0
MONT32                              0
MONT8                               0
MONT6                               1
MONT2                               0
MONT7                               0
MONT9                               0
MONT3                               0
MONT5                               0
MONT11                              0
MONT1                               0
MONT13                              0
MONT4                               0
MONT12                              0

In [43]:
one_year_status_df.to_csv('/home/tachennf/Documents/delta-rad/data/Madrid/combat_csv/one_year_local_control_status_df.csv', sep=';', index=True)

## Follow-up time

In [ ]:
date_outcome_df['difference last news and end RT'] = (date_outcome_df['Date last news'] - date_outcome_df['date of last RT fraction']).dt.days
date_outcome_df

,date of last RT fraction,Date of local recurrence,Date last news,difference end RT and local recurrence,nine_months_status,difference today and end RT
MONT18,2023-09-15,NaT,2024-12-05,NaN,False,447
MONT20,2023-10-25,NaT,2024-10-03,NaN,False,344
MONT16,2023-11-08,NaT,2024-01-01,NaN,False,54
MONT21,2024-02-21,NaT,2024-05-21,NaN,False,90
MONT19,2023-10-06,NaT,2024-12-11,NaN,False,432
MONT14,2023-07-28,NaT,2024-10-14,NaN,False,444
MONT39,2023-09-19,2023-12-15,2024-05-10,87.0,True,234
MONT38,2023-08-25,NaT,2024-12-30,NaN,False,493
MONT22,2023-10-16,NaT,2024-05-08,NaN,False,205
MONT23,2023-12-07,NaT,2024-10-24,NaN,False,322
MONT24,2023-11-13,NaT,2024-05-24,NaN,False,193
MONT25,2024-01-26,NaT,2024-10-07,NaN,False,255
MONT26,2024-03-13,2024-05-24,2024-05-30,72.0,True,78
MONT27,2024-01-19,NaT,2024-05-07,NaN,False,109
MONT28,2024-04-24,NaT,2024-11-13,NaN,False,203
MONT29,2024-04-02,NaT,2024-12-12,NaN,False,254
MONT30,2024-03-20,NaT,2024-11-20,NaN,False,245
MONT31,2024-04-30,2024-09-23,2024-09-23,146.0,True,146
MONT33,2024-04-19,NaT,2024-05-31,NaN,False,42
MONT34,2024-04-23,NaT,2024-12-11,NaN,False,232
MONT35,2024-05-14,NaT,2024-07-29,NaN,False,76
MONT36,2024-05-22,2024-12-28,2024-12-28,220.0,True,220
MONT37,2024-06-04,NaT,2024-12-16,NaN,False,195
MONT10,2024-07-19,NaT,2024-11-22,NaN,False,126
MONT32,2024-06-14,NaT,2024-12-10,NaN,False,179
MONT8,2024-07-05,NaT,2024-11-22,NaN,False,140
MONT6,2024-06-21,2024-11-05,2024-11-05,137.0,True,137
MONT2,2024-08-02,NaT,2024-12-12,NaN,False,132
MONT7,2024-06-28,NaT,2024-12-17,NaN,False,172
MONT9,2024-08-23,NaT,2024-12-16,NaN,False,115
MONT3,2024-08-27,NaT,2024-11-30,NaN,False,95
MONT5,2024-09-20,NaT,2025-01-13,NaN,False,115
MONT11,2024-07-29,NaT,2024-11-19,NaN,False,113
MONT1,2024-11-22,NaT,2024-12-09,NaN,False,17
MONT13,2024-08-23,NaT,2024-12-23,NaN,False,122
MONT4,2024-11-13,NaT,2025-01-07,NaN,False,55
MONT12,2024-11-13,NaT,2025-01-14,NaN,False,62

There is not enough follow-up for some patients