In [1]:
import main as f
import pandas as pd

In [2]:
outcome_df = pd.read_csv("/mnt/c/Users/tachenne/delta-rad/extracted_radiomics/outcomes.csv", index_col=0)
outcome_df = outcome_df.dropna()
#filtered_outcome_df = outcome_df.loc[outcome_df.index.isin(rad_df.index)]
#
#filtered_outcome_df

In [3]:
y_val = f.get_random_test_patient(outcome_df, ['Récidive Locale', 'Récidive Méta', 'Décès'], [57, 32, 74, 82, 84, 85, 56, 63])

In [4]:
print(len(y_val), len(y_val.index.unique()))  # Should return 0

25 25

In [5]:
print(y_val.index)

Index(['Patient 46', 'Patient 31', 'Patient 14', 'Patient 75', 'Patient 30',
       'Patient 34', 'Patient 37', 'Patient 69', 'Patient 20', 'Patient 49',
       'Patient 47', 'Patient 70', 'Patient 61', 'Patient 25', 'Patient 78',
       'Patient 10', 'Patient 59', 'Patient 13', 'Patient 15', 'Patient 45',
       'Patient 4', 'Patient 1', 'Patient 54', 'Patient 6', 'Patient 26'],
      dtype='object')

In [6]:
print(y_val.shape)
y_val

(25, 5)

           Récidive Locale Récidive Méta Décès Récidive Évènement
Patient 46               1             1     0        1         1
Patient 31               1             1     0        1         1
Patient 14               1             1     0        1         1
Patient 75               1             0     0        1         1
Patient 30               1             1     0        1         1
Patient 34               1             1     0        1         1
Patient 37               0             1     0        1         1
Patient 69               0             1     0        1         1
Patient 20               0             1     0        1         1
Patient 49               0             1     0        1         1
Patient 47               0             1     1        1         1
Patient 70               0             1     0        1         1
Patient 61               0             1     0        1         1
Patient 25               0             1     1        1         1
Patient 78               0             1     0        1         1
Patient 10               0             1     1        1         1
Patient 59               1             1     0        1         1
Patient 13               0             1     0        1         1
Patient 15               0             1     1        1         1
Patient 45               1             1     1        1         1
Patient 4                0             1     1        1         1
Patient 1                0             1     1        1         1
Patient 54               1             1     1        1         1
Patient 6                0             1     1        1         1
Patient 26               0             0     1        0         1

In [7]:
y_val["Récidive Locale"].value_counts()

Récidive Locale
0    16
1     9
Name: count, dtype: int64

In [8]:
y_val["Récidive Méta"].value_counts()

Récidive Méta
1    23
0     2
Name: count, dtype: int64

In [9]:
y_val["Décès"].value_counts()

Décès
0    15
1    10
Name: count, dtype: int64

In [10]:
X_train, X_val, y_train, y_val = f.get_dataset("/mnt/c/Users/tachenne/delta-rad/extracted_radiomics/f1_gtv.csv", "/mnt/c/Users/tachenne/delta-rad/extracted_radiomics/outcomes.csv", selection='fixed')

There are 348 highly correlated features (correlation superior to 0.9):
44 features dropped.
Reduced DataFrame has 37 features.
81 57 24
81 57 24